.form {
    margin: 0 auto;
    width: 51vw;
    height: 3.37em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30px;
    min-width: 300px;
}

.form input[type=text] {
    width: 638px;
    height: 100%;
    border-radius: 8px;
    border: none;
    margin-right: 5px;
    padding-left: 10px;
    background-color: var(--gray-500);
    color: var(--gray-300);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90px;
    border-radius: 8px;
    border: none;
    background-color: var(--blue-dark);
    color: white;
    cursor: pointer;
}

.addCircle {
    padding-left: 8px;
}