.header {
    background-color: var(--gray-700);
    width: 100vw;
    height: 200px;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 600px;
}

header > h1 {
    font-family: 'Roboto Mono', monospace;
}

.span1 {
    color: var(--blue);
}

.span2 {
    color: var(--pulpleDark);
}
