.tasksContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-height: 100vh;
    height: 17.93em;
    width: 51vw;
}

.tasksContainer > section {
    display: inline-block;
    width: 100%;
    max-width: 738px;
    margin: 0 auto;
}

.tasksHeader {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.paragraphBlue {
    color: var(--blue);
}

.paragraphPurple {
    color: var(--pulpleDark);
}

.tasksSection {
    margin-top: 20px;
    border-radius: 8px 8px 0 0;
    padding-top: 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.103);
}

.tasksSection article {
   text-align: center;
}

.tasksSection article p {
    font-size: 16px;
    color: var(--gray-300);
 }

.tasksSection article p:first-of-type {
    margin-top: 20px;
    padding-bottom: 5px;
    font-weight: 600;
}
